.site-header .wrapper{
	background: url('images/transparent.png');
}

.navbar{
	border-bottom: solid 2px #CCC;
/*	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);*/
}

.nav-menu li.current-menu-item, .nav-menu li.current-page-ancestor, 
.nav-menu li:hover > a, .nav-menu li a:hover {
	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
}

.box{
	border-right: #CCC 2px solid;
	border-bottom: #AAA 2px solid;
/*	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);*/
}

.slider .item summary{
	background-image: url('images/transparent.png');
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AAFFFFFF', endColorstr='#AAFFFFFF');*/
}