.site-header .wrapper .main{
	background: url('images/transparent.png');
}

/*.navbar{
	border-bottom: solid 2px #CCC;
	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
}

.nav-menu li.current-menu-item, .nav-menu li.current-page-ancestor, 
.nav-menu li:hover > a, .nav-menu li a:hover {
	border-right: #CCC 2px solid;
	border-bottom: #AAA 2px solid;
	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
}

.site-header .search-form{
	width: 150px;
}

.site-header .search-form [type="search"],
.site-header .search-form [type="text"] {
	padding-top: 6px;
}

.site-header .search-form label{
	text-align: right;
}

.site-header .search-form [type="search"],
.site-header .search-form [type="text"] {
	background-color: #fff;
	border: 2px solid #c3c0ab;
	cursor: text;
	height: 28px;
	outline: 0;
	width: 150px;
}
*/
.box{
	border-right: #CCC 2px solid;
	border-bottom: #AAA 2px solid;
}

.slider .item summary{
	background: url('images/transparent.png');
}

.ie8 .me-plugin {
	position: static;
}

.mejs-layers, .mejs-overlay-play{
	width: 100%;
	height: 100%;
}