.site-header .main{
	background: url('images/transparent.png');
}

.site-header .total-hits {
	position: relative;
}

.navbar .navbar-search .search-query:focus{
	outline: 0;
}

.navbar .navbar-search .search-query.folded {
	color: #FFF;
}

.box{
	background-color: #FFF;
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='979797', Direction=135, Strength=3);
}

.box>.content, .box>header {
	position: relative;
	/*zoom: 1;*/
}

.slider ul li summary{
	background: url('images/transparent.png');
}

.me-plugin {
	position: static;
}

.mejs-layers, .mejs-overlay-play{
	width: 100%;
	height: 100%;
}

.ie7 #browser-upgrade-warning {
	display: block !important;
	visibility: visible !important;
	text-align: center;
	margin: 0;
}
