/* 
	Name: Apac Portal
	Template: twentythirteen
	Author : Uice Lu <uicelu@gmail.com>
*/

/*Repeatable Patterns*/
* {
	font-weight: normal;
}

a {
	color: #111;
}

a:hover {
	text-decoration: none;
}

td, th {
	padding:3px 5px;
}

input {
	box-sizing: content-box;
}

input:focus {
	outline: none;
}

input[type="file"] {
	border: none;
	line-height: 1;
}

summary p {
	margin-bottom: 0;
	word-wrap: break-word;
}

table.box {
	width: 100%;
}

.screen-reader-text {
	display: none;
}

.ellipsis {
	word-wrap:normal;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

#wpadminbar * {
	font-family: Helvetica, Arial, sans-serif;
}

/*Basic Structure*/
body {
	color: #080808;
	background:#FFF url('images/bg.png') 0 220px repeat-x;
	font-size: 13px;
}

body, a, input {
	font-family: Helvetica, Arial, sans-serif;
}

.site {
	background: none;
}

.wrapper {
	width: 1200px;
	margin: auto;
}

/*Header*/
.site-header .banner {
	background-position: center;
	background-size: cover;
}

.site-header .banner .main {
	height: 160px;
	min-height: 150px;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 2px 2px 20px #888;
	padding: 10px;
}

.main-navigation {
	clear: none;
}

.site-title {
	padding: 0;
	margin-top: 10px;
}

.home .site-main {
	margin-top: 10px;
}

.logo-aside {
	clear: none;
	margin-top: 70px;
}

.description-top {
	text-align: right;
}

.description {
	clear: left;
	margin-top: 10px;
}

.description .worldtime .city {
	color: #003F7D;
	margin-left: 10px;
}

.site-header .share-price {
	color: #888;
	font-size: 0.8em;
}
.site-header .share-price div {
	display: inline;
}
.site-header .share-price .pr {
	color: #003478;
}

.site-header .share-price .id-price-change.nwp .chg {
	color: #00AB00;
}

.site-header .share-price .id-price-change.nwp .chr {
	color: #AB0000;
}

.navbar {
	margin-bottom: 0;
}

.navbar .navbar-search {
	margin-top: 7px;
	height: 30px;
}

.navbar .navbar-search .search-query:focus {
	outline: none;
}

.navbar .navbar-search .search-query {
	background-color: transparent;
	background-image: url(images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;	
	padding-left: 30px;
	width: 0;
	line-height: 20px;
	margin-right: 10px;
}

.navbar .navbar-search .search-query.folded {
	border: none;
	box-shadow: none;
	cursor: default;
	margin-right: 0;
	overflow: hidden;
}

.navbar-inner {
	padding: 0;
	border-top: #003F7D 2px solid;
	border-radius: 0;
}

.navbar .nav>li {
	font-size: 1.1em;
	color: #003F7D;
}

.navbar .nav>li>a {
	color: #003F7D;
	padding: 10px 20px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	color: #003F7D;
	font-weight: bold;
	border-bottom: 3px solid #800;
}

.site-header .total-hits {
	margin: 6px 0;
	padding: 4px;
}

.breadcrumb {
	background: none;
	font-size: 0.9em;
	margin: 5px 0;
}

.breadcrumb li:first-child a:first-child {
	font-weight: bold;
}

.single-post .breadcrumb .current {
	display: none;
}

/*Content*/
.page-header {
	background-color: #FFF;
	padding-bottom: 0;
	margin: 0;
}

.page-title {
	font-size: 1.5em;
	font-weight: normal;
	font-style: normal;
	padding: 10px;
}

.box {
	margin-bottom: 10px;
	box-shadow: 2px 2px 5px #CCC;
}

.box>header, .box>.header {
	font-size: 1em;
	padding:8px 8px;
	color: #003F7D;
	background: #F6F6F6;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px #DDD solid;
}

.box>header .more-link {
	float: right;
	font-size: 0.9em;
	font-weight: normal;
	margin-left: 10px;
}

.box>header .more-link a {
	font-size: 0.8em;
}

.box>.content {
	padding:15px;
	overflow: hidden;
	background-color: #FEFEFE;
	min-height: 10em;
}

.box>.content ul {
	margin: 0;
	padding-left: 0;
	list-style: circle inside;
}

.box>.content ul li {
	line-height: 1.5;
	margin-bottom: 0.5em;
}

.box.two-column>.content ul li {
	float: left;
	width: 50%;
}

.box.three-column>.content ul li {
	float: left;
	width: 33.33%;
}

.box>.content img.aligncenter {
	display: block;
	margin: auto;
}

.box.no-margin-after {
	margin-bottom: 0;
}

.box.no-min-height>.content {
	min-height: 0;
}

.box.short>.content {
	min-height: 54px;
}

.box.no-padding>.content, .box.slider>.content {
	padding: 0;
}

.box.summary-thumbnail {
	margin: auto auto 0.5em auto;
}

.box.summary-thumbnail dt, .box.summary-thumbnail dt img {
	width: 80px;
}

.box.summary-thumbnail dd {
	margin-left: 90px;
}

.box.summary-thumbnail dd ul li {
	list-style: none;
}

.box.summary-thumbnail dd summary {
	font-size: 0.9em;
	font-style: italic;
	line-height: 1.3;
}

.box.ellipsis>.content ul li {
	word-wrap:normal;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.box>.content ul li.hot a {
	color: #6060B3;
	font-weight: bold;
}

.box>.content ul li.new .mark-new {
	margin-right: 3px;
}

/*Post thumbnail slider*/
.rslides summary {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-left: 1em;
	padding-right: 80px;
	line-height: 2;
	color: #000;
	background: rgba(233, 233, 233, 0.7);
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	list-style-position: inside;
}

/*Footer*/
.site-footer {
	border-top: solid 1px #ccc;
	background: none;
	padding-bottom: 40px;
}

.site-footer nav ul li {
	float: left; margin-left: 20px;
}

.site-info {
	margin: auto;
	padding: 0;
	width: auto;
}

/*Posts Common*/
.hentry {
	padding: 40px 0;
}

.entry-header, .entry-content, .entry-summary, .entry-meta {
	margin: 0 auto;
	max-width: 604px;
}

.entry-header {
	margin-bottom: 30px;
}

.entry-title {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0.5em;
}

.entry-meta > span {
	margin-right: 20px;
}

.entry-meta a {
	color: #bc360a;
}

.entry-meta a:hover {
	color: #bc360a;
}

footer.entry-meta {
	margin-top: 24px;
}

.entry-content a, .comment-content a {
	color: #bc360a;
}

.entry-content a:hover, .comment-content a:hover {
	color: #ea9629;
}

.edit-link {
	font-size: 14px;
}

/*Archive List Page*/
.archive article {
	margin-bottom: 20px;
	background: #FFF;
}

.archive article dl ul li {
	list-style-type: none;
}

.archive .hentry {
	padding: 1em;
}

.attachment .entry-title {
	display: block;
	float: none;
	font-style: normal;
	font-size: 1.5em;
	margin: 0;
}

.paging-navigation {
	padding: 10px 40px;
	background-color: rgb(231, 235, 255);
}

.paging-navigation .nav-previous .meta-nav {
	margin-right: 10px;
	margin-top: 20px;
	padding: 3px 0 8px;
	width: 50px;
}

.paging-navigation .nav-previous {
	float: left;
}

.paging-navigation .nav-next {
	float: right;
}

.paging-navigation .nav-next .meta-nav {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 3px 0 8px;
	width: 50px;
}

.paging-navigation .meta-nav {
	padding: 17px 0 23px;
	width: 80px;
}

.paging-navigation, .paging-navigation a {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
}

.paging-navigation .nav-links {
	margin: 7px auto;
	height: 20px
}

/*Archive Single Page*/
.archive-header {
	background: none;
	border-bottom: 2px #DDD solid;
}

.single-post .entry-header {
	padding: 0 2em;
	border-bottom: 1px solid #CCC;
}

.archive-title {
	font: inherit;
	color: #003F7D;
	font-size: 1.2em;
	padding: 0;
}

.single-post .entry-header {
	max-width: none;
	padding: 0 2em;
	border-bottom: 1px solid #CCC;
}

.single-post footer.entry-meta {
	font-size: 0.9em;
	border-top: 1px solid #CCC;
}

.single-post .post {
	background-color: #FFF;
	box-shadow: 2px 2px 5px #CCC;
}

.post p {
	text-align: justify;
}

.post table {
	table-layout: fixed;
	width: 100%;
}

.entry-content img.alignleft, .entry-content .wp-caption.alignleft {
	margin-left: -10px;
}

/*Search Page*/
body.search #content {
	background: #FFF;
}

/*Department List*/

.department-list .content ul li, .market-list .content ul li {
	height: 30px;
	background-color: #F1F1F3;
	line-height: 30px;
	padding: 0 10px;
	list-style-type: circle;
	margin-bottom: 0.5em;
}

.department-list .content ul li.coming-soon a, .market-list .content ul li.coming-soon a {
	color: #686758;
}

/*Market List*/
.bullets-thumbnail .bullet {
	display: inline-block;
	width: 30px;
	margin-right: 10px;
	box-shadow: 2px 2px 5px #CCC;
	border-radius: 15px;
}

.bullets-thumbnail .bullet img {
	width: 30px;
	border-radius: 15px
}

.bullets-thumbnail .content ul li {
	list-style-type: none;
	margin-bottom: 10px;
}

/*Notices*/
/*#notices.box>.content ul li {
	font-size: 0.9em;
	line-height: 1.5;
}*/

/*404 Page*/
.error404 .page-wrapper {
	background-color: #F6F6F6;
}

blockquote.quotescollection {
	font-style: normal;
	margin: 0 auto;
}

blockquote.quotescollection p {
	font-size: 1.1em;
}

blockquote.quotescollection q {
	display: block;
}

blockquote.quotescollection cite {
	font-size: 0.6em;
	display: block;
	text-align: right;
}

.quotescollection_author {
	font-style: italic;
}

.box.product-picture .content dl {
	float: left;
	margin: 15px 2%;
	width: 21%;
}

.box.product-picture.two-column .content dl {
	margin: 15px 11%;
	width: 28%;
}

.box.product-picture.three-column .content dl {
	margin: 15px 0;
	width: 33.33%;
}

.box.product-picture.five-column.loose .content dl {
	margin: 15px 0;
	width: 20%;
}

.box.product-picture .content dl dt {
	width: 60%;
	margin: auto;
}

.box.product-picture.loose .content dl {
	margin: 15px 5%;
	width: 15%;
}

.box.product-picture .content dl dt {
	box-shadow: 2px 2px 5px #CCC;
	border-radius: 15%;
}

.box.product-picture .content dl dt img {
	width: 100%;
	border-radius: 15%;
	/*width: 130px;*/
	/*height: 130px;*/
}

.box.product-picture .content dd {
	text-align: center;
	margin-top: 0.5em;
	margin-left: 0;
}

.box.slider {
	position: relative;
}

.box.scroll>.content {
	overflow-y: auto;
}

.box>.content ul.pvc {
	list-style-type: none;
}

.home.page .box>.content ul.pvc li a {
	padding-left: 3.5em;
	position: relative;
}

.home.page .box>.content ul.pvc li a .views-count {
	position: absolute;
	left: 0;
}

.box>.content ul.pvc li a .views-count {
	float: left;
	margin-right: 5px;
}

.box>.content .attachment-3-column-thumbnail {
	height: 212px;
}

/*People Finder*/
.people-finder.box>.content>form{
	margin-top:2em;
}


/*MOPAR Page*/
.page-mopar .market-list .content ul li {
	background: none;
}
