/* 
	Name: Apac Portal
	Template: twentythirteen
	Author : Uice Lu <uicelu@gmail.com>
*/

@import '../twentythirteen/style.css';

@font-face {
    font-family: 'Helvetica Neue Lt Std';
    src: url('fonts/HelveticaNeueLTStd-Roman.eot');
    src: url('fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Lt Std';
    src: url('fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Lt Std Condensed';
    src: url('fonts/HelveticaNeueLTStd-Cn.eot');
    src: url('fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Cn.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
    font-weight: normal;
    font-style: condensed;

}

@font-face {
    font-family: 'Helvetica Neue Lt Std Light';
    src: url('fonts/HelveticaNeueLTStd-Lt.eot');
    src: url('fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: lighter;
    font-style: normal;

}

/*Repeatable Patterns*/

a{
	color: #001144;
}

a:hover{
	text-decoration: none;
}

a:visited{
	color: #003F7D;
}

td, th{
	padding:3px 5px;
}

input{
	box-sizing: content-box;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: none;
	background: #15437B;
	border: none;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: none;
	background: #1F65B9;
	outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	background: none;
	background: #1F65B9;
	border: none;
	outline: none;
	padding: 5px;
}

/*Basic Structure*/
body{
	color: #080808;
	background:#FFF url('images/bg.png') 0 220px repeat-x;
}

body, a{
	font-family: 'Helvetica Neue Lt Std', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Helvetica Neue Lt Std Condensed', Arial, sans-serif;
}

.site{
	background: none;
}

.wrapper{
	width: 1080px;
	padding: 10px 10px 10px 10px;
	margin: auto;
}

/*Header*/
.site-header .banner{
	background-position: center;
}

.site-header .wrapper{
	height: 170px;
	min-height: 150px;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 2px 2px 20px #888;
}

.main-navigation{
	clear: none;
}

.site-title{
	padding: 0;
	margin-top: 10px;
}

.home .site-main{
	margin-top: 20px;
}

.logo-aside{
	clear: none;
	margin-top: 70px;
}

.description-top{
	text-align: right;
}

.description{
	clear: left;
	margin-top: 10px;
}

.description .worldtime .city{
	color: #003F7D;
	margin-left: 10px;
}

.description .market{
	float: right;
}

.navbar{
	height: 50px;
	background-image: url('images/navbg.png');
	background-repeat: repeat-x;
	border-top: 2px solid #808080;
	border-radius: 0;
	box-shadow: 0 3px 4px #CCC;
}

.nav-menu .current_page_item > a, .nav-menu .current-page-ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {
	color: #053285;
	font-style: normal;
	font-weight: bold;
	border-bottom: 3px solid #800;
}

.nav-menu li a{
	color: #003F7D;
}

.nav-menu li.current-menu-item, .nav-menu li.current-page-ancestor, 
.nav-menu li:hover > a, .nav-menu li a:hover {
	background-color: #F8F8F8;
	box-shadow: 2px 0px 20px #888;
}

.nav-menu li:hover > a, .nav-menu li a:hover{
	color: #003F7D;
}

.search-form .search-field{
	box-shadow: none;
}

.breadcrumb{
	background: none;
	font-size: 0.9em;
}

.single-post .breadcrumb .current{
	display: none;
}

/*Content*/
#content {
	margin: 0 auto;
	width: 1080px;
}

.box{
	margin-bottom: 30px;
	box-shadow: 2px 2px 5px #CCC;
}

.box>header, .box>.header{
	font-size: 1.2em;
	padding:8px 8px;
	color: #003F7D;
	background: #EFF4F7 url('/wp-content/themes/apacportal/images/navbg.png') repeat-x;
	font-weight: bold;
	border-radius: 3px;
	border-bottom: 2px #DDD solid;
}

.box>header .more-link{
	float: right;
	font-size: 0.8em;
}

.box>header .more-link a{
	font-size: 0.8em;
}

.box>.content{
	padding:10px;
	overflow-y: auto;
	background-color: #FEFEFE;
	min-height: 10em;
}

.box>.content ul{
	margin: 0;
	padding-left: 0;
}

.box>.content ul li{
	line-height: 2;
	word-wrap:normal;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	list-style-position: inside;
}

/*Footer*/
.site-footer{
	border-top: solid 1px #ccc;
	background: none;
	padding-bottom: 200px;
}

.site-footer nav ul li{
	float: left; margin-left: 20px;
}

.site-info {
	margin: auto;
	padding: 0;
	width: auto;
}

/*Home Page*/
.slider .item summary{
	position: relative;
	top: -2em;
	color: #000;
	background: rgba(255, 255, 255, 0.7);
	padding-left: 1em;
	line-height: 2;
	word-wrap: break-word;
	padding-right: 60px;
}

/*Archive List Page*/
.entry-title{
	font-size: 2em;
}

.hentry{
	padding: 20px 0;
}

/*Archive Single Page*/
.archive-header{
	background: none;
	border-bottom: 2px #DDD solid;
}

.archive-title{
	font: inherit;
	color: #003F7D;
	font-size: 1.2em;
	padding: 0;
}

.single-post .entry-header{
	max-width: none;
}

.post{
	background-color: #FFF;
	box-shadow: 2px 2px 5px #CCC;
}

/*Department List*/
.department-list .content ul li, .market-list .content ul li{
	background-color: #F2F6F8;
	line-height: 30px;
	padding: 0 10px;
	list-style-type: circle;
	margin-bottom: 5px;
	border-radius: 5px;
}

/*Market List*/
.market-list .flag img{
	width: 30px
}

.market-list .content ul li{
	list-style-type: none;
}

/*404 Page*/
.error404 .page-wrapper{
	background-color: #F6F6F6;
}

/*ICT Page*/
.employee-this-month{
	margin: auto;
}

.employee-this-month dt{
	width: auto !important;
}

.employee-this-month dt img{
	width: 80px;
}

.employee-this-month dd{
	margin-left: 90px;
}
